# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# ctags cache
tags

# build files from arduino-mk
build-*/

# Python stuff
*.pyc
*.egg-info
